/**
 * This file shall apply to a specific site.
 */
* { transition: all 1s; }

/**
 * Header
 */
body > header {
	background-color: #000;
	color: #fff;
}
body > header > * {
	display: inline-block;
}
body > header a {
	color: inherit;
	text-decoration: none;
}
#brand {
	font-size: xx-large;
	font-weight: bold;
	margin: 0 1em;
}
#siteNav {

}
#siteNav li {
	list-style-type: none;
	display: inline-block;
	margin: .5em;
	padding: .3em .5em;
	border: 1px solid #ccc;
}
#siteNav li:hover {
	background-color: #444;
}
#searchBar {
	float: right;
	margin: 1em;
	position: relative; /* For submit button */
}
#searchBar > input[type=text] {
	padding: .3em 4em .3em .3em;
}
#searchBar > input[type=submit],
#searchBar > input[type=image] {
	position: absolute;
	margin: .2em;
	right: 0;
	top: 0;
}

/**
 * Content
 */
 
 
/**
 * Footer
 */
body > footer {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: .5em;
}