/**
 * Inherit from the previous document.
 *
 * @see `01.css`
 */
html {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	position: relative;
}
body > header {
	overflow: hidden; /* escape collapsing margins */
}
body > header:after {
	content: "";
	display: block;
	clear: both;
}
body > section:after {
	content: "";
	display: block;
	clear: both;
	padding-bottom: 2em; /* reserved for height of footer */
}
body > footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	box-sizing: border-box; /* in case padding is nonzero */
}

/**
 * Subject of this page: inline header.
 *
 * This used to be `display: inline-block`, but that cause it behaves differently
 * for `<style>` and `<link>` on Chrome (in Windows and Android). See 
 * what's different on the nav button while refreshing this page on Chrome 
 * and other browsers.
 * Also note that using table for positioning is not a good idea for RWD.
 */
body > header > * {
	float: left;
}
nav > ul > li {
	display: inline-block;
}

/**
 * Personal styling.
 *
 * Note that there would be a "focus border" for `input[type=text]`
 * while it's focused.
 */
body > header {
	background-color: #000;
	color: #fff;
}
body > header a {
	color: inherit;
	text-decoration: none;
}
#brand {
	font-size: xx-large;
	font-weight: bold;
	margin: 0 1em;
}
header li {
	margin: .5em;
	padding: .3em .5em;
	border: 1px solid #ccc;
	transition: all 1s;
}
header li:hover {
	background-color: #444;
}
#searchBar {
	float: right;
	margin: 1em;
	position: relative; /* For submit button */
}
#searchBar > input[type=text] {
	padding: .3em 4em .3em .3em;
}
#searchBar > input[type=submit],
#searchBar > input[type=image] {
	position: absolute;
	margin: .2em;
	right: 0;
	top: 0;
}
body > footer {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: .5em;
}
